<h1>Courses page</h1>

<% @courses.each do |course| %>
  <h1><%= course.name %></h1>
  <p>created about: <%= time_ago_in_words(course.created_at) %> ago</p>
  <p><%= course.address %></p>
  <p><%= course.location %></p>
  <p><%= course.description %></p>
  <br>
  <%= link_to 'details', course_path(course) %>
  <%= link_to 'Create new course', new_course_path %>
  <hr>
<% end %>
<% if @courses.empty? %>
<%= link_to 'Create new course', new_course_path %>
<% end %>