<h1>Courses page</h1>

<% @courses.each do |course| %>
  <h1><%= course.name %></h1>
  <p><%= course.address %></p>
  <p><%= course.location %></p>
  <p><%= course.description %></p>
  <br>
  <%= link_to 'details', course_path(course)  %>
  <hr>
<% end %>